@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
.cards__card .cards__card--information .cards__card--number {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  letter-spacing: 3.4222221375px;
}

form input {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

.cards__card .cards__card--information .cards__card--date, .cards__card .cards__card--information .cards__card--name {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
}

form label {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: left;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
.gradient .gradient--desktop {
  display: block;
}
.gradient .gradient--mobile {
  display: none;
}

.context {
  margin: 186px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__card {
  position: relative;
  width: 447px;
  height: 245px;
  color: #FFFFFF;
  background: url(/images/bg-card-front.png) no-repeat;
}
.cards__card .cards__card--information {
  position: absolute;
  bottom: 0;
  margin: auto 32px 27px 32px;
  max-width: 100%;
}
.cards__card .cards__card--information .cards__card--name {
  text-transform: uppercase;
  margin-top: 26px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.cards__card .cards__card--information .cards__card--date {
  position: absolute;
  bottom: 0;
  right: 0;
}

form {
  display: block;
  max-width: 381px;
}
form label {
  text-transform: uppercase;
}
form input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
  color: #21092F;
  padding: 11px 16px;
  margin-top: 9px;
  margin-bottom: 26px;
}
form input::-moz-placeholder {
  opacity: 0.25;
}
form input:-ms-input-placeholder {
  opacity: 0.25;
}
form input::placeholder {
  opacity: 0.25;
}
form .form--date input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
  margin-bottom: 0;
}
form .form--cvc input {
  width: 191px;
}