@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
.context .cards .cards__card .cards__card--information .cards__card--number {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  letter-spacing: 3.4222221375px;
}

.context .form fieldset input {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

.context .cards .back p, .context .cards .cards__card .cards__card--information .cards__card--lowerstr p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
}

.context .form fieldset label {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: left;
}

.context .form fieldset p {
  font-family: Space Grotesk;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  color: #FF5050;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.gradient .gradient--desktop {
  display: block;
  width: 40%;
  height: 100vh;
}
.gradient .gradient--mobile {
  display: none;
}

.context {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.context .cards {
  display: block;
  width: 50%;
  max-width: 541px;
  height: 60%;
  max-height: 527px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.context .cards .cards__card {
  display: block;
  color: #FFFFFF;
  max-width: 447px;
  width: 100%;
  max-height: 245px;
  height: 100%;
}
.context .cards .cards__card .cards__card--information {
  padding: 27px 32px;
}
.context .cards .cards__card .cards__card--information .cards__card--number {
  margin-top: 64px;
  height: 36px;
}
.context .cards .cards__card .cards__card--information .cards__card--lowerstr {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 18px;
}
.context .cards .cards__card .cards__card--information .cards__card--lowerstr .cards__card--date {
  display: inline-block;
}
.context .cards .cards__card .cards__card--information .cards__card--lowerstr p {
  display: inline-block;
}
.context .cards .front {
  background: url("/images/bg-card-front.png");
  align-self: flex-start;
}
.context .cards .back {
  background: url("/images/bg-card-back.png");
  align-self: flex-end;
}
.context .cards .back p {
  position: absolute;
  top: 45%;
  right: 12%;
}
.context .form {
  display: block;
  width: 50%;
  max-width: 381px;
  position: relative;
  margin-left: 10%;
}
.context .form fieldset {
  margin-bottom: 26px;
}
.context .form fieldset label {
  width: 100%;
  text-transform: uppercase;
}
.context .form fieldset input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 11px 16px;
  color: #21092F;
  margin-top: 9px;
  cursor: pointer;
  border: 1px solid #DFDEE0;
  border-radius: 8px;
}
.context .form fieldset input:hover, .context .form fieldset input:focus {
  border: 1px solid #6348FE;
}
.context .form fieldset input::-moz-placeholder {
  opacity: 0.25;
}
.context .form fieldset input:-ms-input-placeholder {
  opacity: 0.25;
}
.context .form fieldset input::placeholder {
  opacity: 0.25;
}
.context .form fieldset .error {
  border: 1px solid #FF5050;
}
.context .form fieldset .error:hover, .context .form fieldset .error:focus {
  border: 1px solid #6348FE;
}
.context .form fieldset p {
  margin-top: 8px;
  display: none;
}
.context .form .form__lowerstr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}
.context .form .form__lowerstr .form__date {
  max-width: 50%;
  display: inline-block;
}
.context .form .form__lowerstr .form__date input {
  width: 45%;
}
.context .form .form__lowerstr .form__cvc {
  max-width: 50%;
}
.context .form button {
  width: 100%;
  background: #21092F;
  color: #FFFFFF;
  height: 45px;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 450px) {
  .context .cards .cards__card .cards__card--information .cards__card--number {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 2.2000000477px;
  }
  .context .cards .cards__card .cards__card--information .cards__card--lowerstr p, .context .cards .back p {
    font-family: Space Grotesk;
    font-size: 9px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 1.2857142687px;
    text-align: left;
  }
  .gradient .gradient--desktop {
    display: none;
  }
  .gradient .gradient--mobile {
    display: block;
    width: 100%;
  }
  .context {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px;
  }
  .context .cards {
    width: 100%;
    height: 30%;
    display: block;
    position: relative;
  }
  .context .cards .cards__card {
    width: 286px;
    height: 157px;
  }
  .context .cards .cards__card .cards__card--information {
    padding: 20px 19px;
  }
  .context .cards .cards__card .cards__card--information img {
    width: 54px;
  }
  .context .cards .cards__card .cards__card--information .cards__card--number {
    margin-top: 34px;
  }
  .context .cards .cards__card .cards__card--information .cards__card--lowerstr {
    margin-top: 0;
  }
  .context .cards .front {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-size: 100%;
  }
  .context .cards .back {
    position: absolute;
    top: 0;
    right: 0;
    background-size: 100%;
  }
  .context .form {
    width: 100%;
    max-width: none;
    margin-left: 0;
  }
  .context .form fieldset {
    margin-bottom: 20px;
    position: relative;
  }
  .context .form .form__lowerstr {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 380px) {
  .context .cards {
    height: 40%;
  }
}