@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


%headingXL {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    letter-spacing: 3.422222137451172px;
}

%headingL {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}

%bodyL {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
}

%bodyM {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 2px;
    text-align: left;
}

%bodyS {
    font-family: Space Grotesk;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #FF5050;
}


$white: #FFFFFF;
$lightGrey: #DFDEE0;
$deepViolet: #21092F;
$red: #FF5050;

body {
    font-family: 'Space Grotesk', sans-serif;
}

.gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    z-index: -1;
    .gradient--desktop {
        display: block;
        width: 40%;
        height: 100vh;
    }
    .gradient--mobile {
        display: none;
    }
}

.context {
    margin: calc((100vh - 527px)/2) auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.cards {
    position: relative;
    width: 541px;
    height: 527px;

    .cards__card {
        max-width: 447px;
        height: 245px;
        width: 100%;
        color: $white;
        position: relative;

        img {
            width: 100%;
        }
            
        .cards__card--information {
            position: absolute;
            bottom: 0;
            margin: auto 32px 27px 32px;
            max-width: 100%;
            .cards__card--number {
                @extend %headingXL;
            }
            .cards__card--name {
                @extend %bodyL;
                text-transform: uppercase;
                margin-top: 26px;
                width: fit-content;
            }
            .cards__card--date {
                @extend %bodyL;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    .front {
        position: absolute;
        top: 0;
        left: 0;
    }
    .back {
        position: absolute;
        bottom: 0;
        left: 94px;
        p {
            @extend %bodyL;
            position: absolute;
            top: 45%;
            right: 12%;
        }
    }
}


.form {
    display: block;
    width: 381px;
    margin-left: 127px;

    fieldset {
        margin-bottom: 26px;

        label {
            width: 100%;
            text-transform: uppercase;
            @extend %bodyM;
        }
    
        input {
            box-sizing: border-box;
            width: 100%;
            height: 45px;
            padding: 11px 16px;
            color: $deepViolet;
            margin-top: 9px;
            @extend %headingL;
            cursor: pointer;
    
            border: 1px solid $lightGrey;
            border-radius: 8px;
            
            &:hover, &:focus {
                border: 1px solid #6348FE;
            }
    
            &::placeholder {
                opacity: 0.25;
            }
        }

        .error {
            border: 1px solid $red;

            &:hover, &:focus {
                border: 1px solid #6348FE;
            }
        }

        p {
            @extend %bodyS;
            margin-top: 8px;
            display: none;
        }
    }

    .form__lowerstr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 16px;

        .form__date {
            max-width: 50%;
            display: inline-block;
            input {
                width: 45%;
            }
        }

        .form__cvc {
            max-width: 50%;
        }

    }

    button {
        width: 100%;
        background: $deepViolet;
        color: $white;
        height: 45px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 420px) {
    .gradient--desktop {
        display: none;
    }
    .gradient--mobile {
        display: block;
        width: 100%;
    }

    .cards {
        max-width: 100%;
    }
}