@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


%headingXL {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    letter-spacing: 3.422222137451172px;
}

%headingL {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}

%bodyL {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
}

%bodyM {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 2px;
    text-align: left;
}

%bodyS {
    font-family: Space Grotesk;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #FF5050;
}



$white: #FFFFFF;
$lightGrey: #DFDEE0;
$deepViolet: #21092F;
$red: #FF5050;

body {
    font-family: 'Space Grotesk', sans-serif;
}

.gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    z-index: -1;
    .gradient--desktop {
        display: block;
        width: 40%;
        height: 100vh;
    }
    .gradient--mobile {
        display: none;
    }
}

.context {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .cards {
        display: block;
        width: 50%;
        max-width: 541px;
        height: 60%;
        max-height: 527px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    
        .cards__card {
            display: block;
            color: $white;
            max-width: 447px;
            width: 100%;
            max-height: 245px;
            height: 100%;
            
            .cards__card--information {
                padding: 27px 32px;

                .cards__card--number {
                    @extend %headingXL;
                    margin-top: 64px;
                    height: 36px;
                }

                .cards__card--lowerstr {
                    margin-top: 26px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    height: 18px;

                    .cards__card--date {
                        display: inline-block;
                    }

                    p {
                        @extend %bodyL;
                        display: inline-block;
                    }
                }

            }
        }
    
        .front {
            background: url('/images/bg-card-front.png');
            align-self: flex-start;
        }

        .back {
            background: url('/images/bg-card-back.png');
            align-self: flex-end;
            p {
                @extend %bodyL;
                position: absolute;
                top: 45%;
                right: 12%;
            }
        }
    }
    
    
    .form {
        display: none;
        width: 50%;
        max-width: 381px;
        position: relative;
        margin-left: 10%;
    
        fieldset {
            margin-bottom: 26px;
    
            label {
                width: 100%;
                text-transform: uppercase;
                @extend %bodyM;
            }
        
            input {
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                padding: 11px 16px;
                color: $deepViolet;
                margin-top: 9px;
                @extend %headingL;
                cursor: pointer;
        
                border: 1px solid $lightGrey;
                border-radius: 8px;
                
                &:hover, &:focus {
                    border: 1px solid #6348FE;
                }
        
                &::placeholder {
                    opacity: 0.25;
                }
            }
    
            .error {
                border: 1px solid $red;
    
                &:hover, &:focus {
                    border: 1px solid #6348FE;
                }
            }
    
            p {
                @extend %bodyS;
                margin-top: 8px;
                display: none;
            }
        }
    
        .form__lowerstr {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 16px;
    
            .form__date {
                max-width: 50%;
                display: inline-block;
                input {
                    width: 45%;
                }
            }
    
            .form__cvc {
                max-width: 50%;
            }
    
        }
    
        button {
            width: 100%;
            background: $deepViolet;
            color: $white;
            height: 45px;
            border-radius: 8px;
            border: none;
        }
    }

    .thks__post {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 10%;

        img {
            margin-bottom: 35px;
        }

        h1 {
            @extend %headingXL;
            margin-bottom: 16px;
        }

        p {
            @extend %headingL;
            color: #8F8694;
            margin-bottom: 48px;
        }

        button {
            width: 100%;
            background: $deepViolet;
            color: $white;
            height: 45px;
            border-radius: 8px;
            border: none;
        }
    }
}

@media screen and (max-width: 920px) {
    .gradient {
        .gradient--desktop {
            display: none;
        }
        .gradient--mobile {
            display: block;
            width: 100%;
        }
    }

    .context {
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-around;
        padding: 100px;
    
        .cards {
            width: 100%;
            max-width: 710px;
            height: 40%;
            display: block;
            position: relative;
    
            .front {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                background-size: 100%;
    
            }
    
            .back {
                position: absolute;
                top: 0;
                right: 0;
                background-size: 100%;
            }
        }
    
        .form {
            width: 100%;
            max-width: none;
            margin-left: 0;
    
            fieldset {
                margin-bottom: 20px;
                position: relative;
            }
    
            .form__lowerstr {
                margin-bottom: 8px;
            }
        }

        .thks__post {
            margin-left: 0;
        }
            
    }
}


@media screen and (max-width: 550px) {

%headingXL {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 2.200000047683716px;
}

%bodyL {
    font-family: Space Grotesk;
    font-size: 9px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 1.2857142686843872px;
    text-align: left;
}

.gradient {
    .gradient--desktop {
        display: none;
    }
    .gradient--mobile {
        display: block;
        height: 20%;
    }
}

.context {
    padding: 20px 40px;

    .cards {
        width: 100%;
        height: 30%;
        display: block;
        position: relative;

        .cards__card {
            width: 286px;
            height: 157px;

            .cards__card--information {
                padding: 20px 19px;

                img {
                    width: 54px;
                }

                .cards__card--number {
                    margin-top: 34px;
                }

                .cards__card--lowerstr {
                    margin-top: 0;
                }
            }
        }

        .front {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-size: 100%;

        }

        .back {
            position: absolute;
            top: 0;
            right: 0;
            background-size: 100%;
        }
    }

    .form {
        width: 100%;
        max-width: none;
        margin-left: 0;

        fieldset {
            margin-bottom: 20px;
            position: relative;
        }

        .form__lowerstr {
            margin-bottom: 8px;
        }
    }
}
}

@media screen and (max-width: 380px) {

    .context {

        padding: 16px;

        .cards {
            height: 40%;
        }
    }
}